body {
  background-color: powderblue;
  max-width: auto;
  margin: 5 auto;
}

p, li {
  font-size: larger;
}

li {
  color: darkblue;
}

h2{
    border-bottom: 5px dotted deepskyblue;
}

p{
  line-height: 1.5;
}

/*header*/

header {
  background-color: palegoldenrod;
  border: 5px dotted deepskyblue;
  max-width: auto;
}

header div {
  display: flex;
  height: 50px;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0px;
}

header a {
  font-size: larger;
}

header h1 {
  color: tomato;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding-top: 20px;
}

a:link {
  color: orangered;
}

a:hover {
  transform: scale(1.1);
  color:darkblue;
}

a:active {
  color: darkblue;
}

a:visited {
  color: orangered;
}


.left-align{
  text-align: left;
}

.center-align{
  text-align: center;
}

.cell{
  border: black solid 2px;
  padding: 4px, 8px;
  width: 75px;
}

th, td{
  text-align: center;
}

/* Flexbox code */

.flex-default{
    display: flex;
    padding-top: 25px;
    gap: 0;
}

.flex-default-text{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 900px;
}

/* tti - Text to img in direction of screen */

.tti-img{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    align-items: center;
    margin-left: auto;
    padding-right: 100px;
    gap: 15px;
}

/* itt - img to text in direction of screen */

.itt-img{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    align-items: center;
    margin-right: auto;
    padding-left: 100px;
    gap: 15px;
}
