.fll {
    display: flex;
    gap: 15px;
}

.img-default {
    border-radius: 10px;
    height: 150px;
}

@media (max-width: 600px) {
    .fll {
        flex-wrap: wrap;
        justify-content: center;
    }

    .img-default {
        max-height: 100px;
    }
}

@media (max-width: 480px) {
    .img-default {
        height: 80px;
    }
}