.card-type {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
}

.pokemon {
    display: flex;
    gap: 25px;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evo-set {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

img {
    height: 250px;
    border-radius: 10px;
}

img:hover {
    transform: scale(1.2);
}

.arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid black;
}

@media (max-width: 768px) {
    img {
        height: 150px;
    }

    .evo-set {
        flex-wrap: wrap;
        justify-content: center;
    }

    .pokemon {
        gap: 15px;
        justify-content: center;
    }

    .card-type {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    img {
        height: 110px;
    }

    .evo-set {
        flex-direction: column;
    }

    .arrow {
        transform: rotate(90deg);
    }

    .pokemon {
        gap: 10px;
    }
}